@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0.4rem auto;
  max-width: 1296px;
  font-family: "Poppins", sans-serif;
  color: #282c34;
  background-color: #f7f7f7;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #282c34;
  cursor: pointer;
}

a:visited {
  color: #282c34;
}

.navigation {
  margin: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation a {
  margin: 10px;
  padding: 10px;
  position: relative;
}
.navigation .nav-active::after {
  content: "";
  width: 85%;
  height: 5px;
  background-color: #61dafb;
  position: absolute;
  bottom: 1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
  .navigation .nav-active::after {
    content: "";
    width: 10%;
    height: 3px;
    background-color: #61dafb;
    position: absolute;
    bottom: 1px;
    left: 8%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: url(../../assets/main.jpg) center/cover;
  height: 60px;
  width: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
}
.logo h3 {
  color: #f7f7f7;
  letter-spacing: 1px;
}
.logo img {
  height: 34px;
  width: 34px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  height: 100px;
  position: relative;
  margin: 1px;
  -webkit-box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
          box-shadow: 0 0 2px rgba(51, 51, 51, 0.25);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 4px;
}
.card:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  z-index: 2;
}
.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100px;
  width: 160px;
}
.card .data-container {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.card .data-container:hover {
  opacity: 1;
}
.card .data-container:hover ul {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.card .data-container ul {
  color: #f7f7f7;
  padding-top: 5px;
  display: grid;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(0.3);
          transform: scaleY(0.3);
  z-index: 20;
}
.card .data-container ul:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.02s;
  transition: 0.02s;
}
.card .data-container ul:hover::after {
  background: rgba(0, 0, 0, 0.65);
}
.card .data-container li {
  font-size: 0.8rem;
  z-index: 30;
}
.card .data-container li:nth-child(1) {
  font-weight: bold;
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.countries .sort-container {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 8px;
  border-radius: 15px;
  background: #282c34;
  color: #61dafb;
  -webkit-box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
          box-shadow: 0 2px 2px rgba(51, 51, 51, 0.3);
}
.countries .sort-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.countries .sort-container ul input[type=radio] {
  -webkit-transform: translate(-5px, 1px);
          transform: translate(-5px, 1px);
}
.countries .cancel {
  margin: 20px auto 30px;
  width: 100%;
}
.countries .cancel h5 {
  border: 1px #282c34 solid;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.countries .cancel h5:hover {
  background: #61dafb;
  border-color: #61dafb;
}
.countries .countries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .countries .sort-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */